<span fxLayout="row">
    <button (click)="newCustomer()"
        mat-flat-button 
        color="primary"
       >
       
        Add Customer
    </button>
</span>

<hr>
<h1  *ngIf="mobile" class="mat-h2">Customers</h1>
<mat-table #table 

    class="mat-elevation-z8"
    [dataSource]="dataSource"
    class="table">
    
    <!--Delete/Edit buttons-->
    <ng-container matColumnDef="actions" mat-elevation-z8>
        <mat-header-cell  *matHeaderCellDef >
            <span *ngIf="!mobile">
                Actions
            </span>
            </mat-header-cell>
        <mat-cell data-label="actions" *matCellDef="let row" >
            <!--Delete Button-->
             <button mat-icon-button color="warn"(click)="confirmDialog(row)" >
                 <mat-icon >delete</mat-icon>
                 
             </button>
             <!--Edit Button-->
             <button  mat-icon-button color="primary"(click)="openDialog('Update',row)">
                 <mat-icon>edit</mat-icon>
         
             </button>
        </mat-cell>
      </ng-container>
        
     
      <!--Company ID Column-->
    <ng-container matColumnDef="id">
        
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">ID</span>    
        </mat-header-cell>
        <mat-cell data-label="company id" *matCellDef="let customer">{{customer.id}}</mat-cell>
    </ng-container>

    <!--Company Name  Column-->
    <ng-container matColumnDef="name">
        
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">Name</span>
        </mat-header-cell>
        <mat-cell data-label="company name" *matCellDef="let customer">{{customer.name}}</mat-cell>
    </ng-container>


  

    <!--Company Email  Column-->
    <ng-container matColumnDef="email">
        
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">Contact</span>
        </mat-header-cell>
        <mat-cell data-label="company email" *matCellDef="let customer">{{customer.email}}</mat-cell>
    </ng-container>
   

    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">Location</span>
        </mat-header-cell>
        <mat-cell data-label="location" *matCellDef="let customer">{{customer.location}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="services">
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">Services</span>
        </mat-header-cell>
        <mat-cell data-label="services" *matCellDef="let customer">{{customer.service}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="contactPerson">
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">Contact Person</span>
        </mat-header-cell>
        <mat-cell data-label="contact person" *matCellDef="let customer">{{customer.contactPerson}}</mat-cell>
    </ng-container>
    <!-- Website-->
    <ng-container matColumnDef="website">
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">Website</span>
        </mat-header-cell>
        <mat-cell data-label="website" *matCellDef="let customer">
         <a   href="customer.website">{{customer.website}}</a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>
            <span *ngIf="!mobile">Description</span>
        </mat-header-cell>
        <mat-cell data-label="description" *matCellDef="let customer">{{customer.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table>

