@media screen and (max-width:900px){
    .table{
        border: 0;
        vertical-align: middle;
    }
}

mat-table{
    width: auto;
    justify-content: center;
    
    mat-header-row{
        display: flex;
        justify-content: center;
        mat-row{
            display: flex;

        }
    }
}