$right-padding: 1rem;

$nav-bg-color:#00B3F9;
$top: 1em;
$display: inline-block;
$colors: (
    blue: #58a5fd,
    green: #36d8b6,
    yellow: #fdc165,
    pink: #f8697e

);

.navbar{
    background-color:$nav-bg-color ;
    flex: 1 1 auto;
    justify-self: center;
    border-radius: 6px;
}
span.app-title {
  cursor: pointer;
}
span.spacer {
    flex: 1 1 auto;
    text-align: center;
}
mat-toolbar.navbar {
    background-color:$nav-bg-color ;
    flex: 1 1 auto;
    justify-self: center;
    border-radius: 6px;
  mat-toolbar-row.first-row {
    span.app-title {
        margin: auto;
    }
    span.spacer {
        flex: 1 1 auto;
        text-align: center;
    }
    span.help-span {
      button {
        mat-icon.help-button {
        }
        br {
        }
      }
    }
  }
  mat-toolbar-row.title-row {
    span.subheading {
        margin:auto;
      div.mat-subheading-3 {
        flex-shrink: 2;
          text-overflow: ellipsis;
         
      }
    }
  }
}