<mat-toolbar 
    color="primary" 
    class="navbar">
    <mat-toolbar-row class="first-row">
        <span class="app-title" 
            routerLink="/home">Admin Management
        </span> 
        
        <span class="spacer"></span>
        <span class="help-span">
            <button mat-icon-button onclick="this.blur()"
                routerLink="/help">
                <mat-icon class="help-button">help</mat-icon>
                <br>
                help
            </button>
        </span>
    </mat-toolbar-row>
  
    <mat-toolbar-row class="title-row"
        fxHide.lt-sm="true">
        <span class="subheading">
            {{monitorTitle}}
        </span> 

    </mat-toolbar-row>


</mat-toolbar>