<mat-toolbar 
    color="primary" 
    class="navbar">
    <mat-toolbar-row
        fxLayoutAlign="end end"
        >
        <button mat-icon-button
            routerLink="/home" routerLinkActive="active" >
            <mat-icon>
                home
            </mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div></div>
        <div>
            <button mat-icon-button onclick="this.blur()">
                <mat-icon class="help-button">help</mat-icon>
                <br>
                help
                
            </button>
        </div>
    </mat-toolbar-row>
    

    
<mat-toolbar-row >
    <span class="subheading">
        <div #navTitle
            class="mat-subheading-2">
            
             {{title |async}}
         </div>
    </span> 

</mat-toolbar-row>


</mat-toolbar>