$display: flex;
$flex-direction: row;
$justify-content: space-between;
$margin-left-right: 1%;
$align-items: flex-start;
$paginator-justify: center;
// Add Customer button
$margin-top: 0.75%;
span.add-button {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  margin-left: $margin-left-right;
  margin-right: $margin-left-right;
  align-items: $align-items;

  button {
    margin-top: $margin-top;
    cursor: pointer;
  }
mat-scroll-container{
  justify-content: center;
}
  //  Search field
  mat-form-field.options {
    margin-top: $margin-top;
    > mat-label {
      margin-top: $margin-top;
    }
    > input.filter {
      margin-top: $margin-top;
    }
  }
}
 mat-header-cell,mat-cell {
 
}
.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}
