<span fxLayout="row" class="add-button" fl>
    <button (click)="newUser()" mat-flat-button color="primary">
        Add User
    </button>
    <mat-form-field class="options" appearance="outline" color="primary">
        <mat-label>Search User</mat-label>
        <input color="primary" class="filter" align="start" matInput 
                (keyup)="applyFilter($event.target.value)" 
                placeholder="filter">
    </mat-form-field>
</span>
<app-scroll-container
                    [more]="hasMore()"
                    [scrollOffset]="2500"
                    [scrollDelay]="3000"
                    (scrolled)="handleScroll($event)"
                    [class.full]="full"
                    [class.part]="!full">  
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container 
            *ngFor="let column of displayColumns"
            [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{column | titlecase}}
            </mat-header-cell>
            
            <mat-cell  *matCellDef="let item">
                 <span *ngIf="column !== 'actions'">{{item[column]}}</span>
                 <span *ngIf="column === 'actions'">
                    <button class="delete-button" mat-icon-button color="warn" 
                    (click)="confirmDialog(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <!--Edit Button-->
                <button class="edit-button" mat-icon-button color="primary" 
                (click)="openDialog('Update',item[column])">
            <mat-icon>edit</mat-icon>

        </button>
                     
                 </span>
            </mat-cell>
          
        </ng-container>
        <mat-header-row 
            *matHeaderRowDef="displayColumns; sticky:true">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
        
    </mat-table>              
</app-scroll-container>
