div.container {
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding-top: 10px;
  >ng-container {
    >mat-card {
        margin: 4%;
        padding-top: 10px;
      >mat-card-header {
        >mat-card-title {
        }
      }
      button {
         
          mat-icon {
          
          
        }
      }
    }
  }
}