<div class="container" fxLayout.xs="column" fxLayout=" wrap" fxlayoutGap="10px grid">
    <ng-container *ngFor="let card of cardList; let i = index" fxLaoutGap="10px">
        <mat-card fxFlexfill.fxFlex.lt-md fxFlexOffset="10px" fxFlex.xs="0 1 calc(50%-20px)"
            fxFlex.sm="0 1 calc(50%-20px)" fxFlex.md="0 1 calc(33%-20px)" fxFlex.gt-md="0 1 calc(25%-20px)"
            fxFlexOffset="20px" *ngIf="i !== 0" [style.backgroundColor]="card.color">
            <mat-card-header>

                <mat-card-title>{{card.title}}</mat-card-title>

            </mat-card-header>
                <mat-card-actions align="end">
                <button mat-icon-button (click)="navigate(i)" [routerLink]='card.path'>
                    <mat-icon>
                        settings
                    </mat-icon>
                </button>
            </mat-card-actions>

            

        </mat-card>
    </ng-container>

</div>